/* linkedin is nav-item__badge */
/* button-primary-small Elevation-6dp feed-new-update-pill__new-update-button*/

  /* facebook is jewelCount */
    /*  twitter is .global-nav .count */ 
/* .nav-item__badge {
    display: none;
  }

  .jewelCount {
    display: none;
  }

  .count {
    display: none;
  } */

  .sumtor-hide-notification{
      display:none !important;
  }